/** Imagen de Fondo **/
.img-fondo{
    background-image: url(./Imagenes/IMG-20241122-WA0008.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 25rem;
    margin-top: 2.8rem;
    margin-bottom: 1rem;
}

/** Tabla Marcas **/
table{
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    border: 0.2rem solid black;
    background-image: linear-gradient(to top, rgb(223, 255, 255), white);
}
th{
    border: 0.2rem solid black;
    text-align: center;
    text-shadow: 0.2rem 0.2rem white;
}
td{text-align: center;}
table .vacio{
    border-top: 0.2rem solid white;
    border-left: 0.2rem solid white;
    background-color: white;
}
th{
    background-color: rgb(238, 227, 255);
    color: black;
}
caption{
    margin-bottom: 1rem;
    font-size: larger;
    font-weight: bold;
    text-decoration: underline;
}

/** lista ordenadas y de definicion **/
.listades{
    width: 80%;
    margin: auto;
    text-align: center;
}
.listades h4{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 1rem;
}
.listades ol{
    display: inline-block
}